<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="mainHead">
    <header>E - Learning System</header>
</div>
<div>
    <section>
            <nav>
                <h1 id=header1>Courses</h1>
                <div id="userImage"></div>
                <div id="userDetail">
                    <label id="userName">Username</label><br>
                    <label id="status">Student</label>
                </div>
                <div class="btn-group">
                    <button>Empty Name</button>
                    <button>Empty Name</button>
                </div>
            </nav>
            <article id = "detailtab">
                <h1 id=header2>Course ID</h1>
                <div id ="content">
                    <h2>Content Head</h2>
                    <p>content</p>
                </div>
            </article>
    </section>
</div>

<footer><h1>“People expect to be bored by eLearning—let’s show them it doesn’t have to be like that!” - Cammy Bean</h1></footer>


